.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // 字体平滑度
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-container-height);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    z-index: 1;
  }
  .app-main {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--nav-container-height));
    overflow-y: auto;
    font-stretch: normal;
    &-fade-enter-active,
    &-fade-leave-active {
      transition: opacity 280ms;
    }
    &-fade-enter,
    &-fade-leave-active {
      opacity: 0;
    }
  }
}

#nprogress {
  & .bar {
    background-color: var(--primary) !important;
  }
  & .peg {
    box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary) !important;
  }
  & .spinner-icon {
    border-top-color: var(--primary) !important;
    border-left-color: var(--primary) !important;
  }
}
