.app-segments {
  border-radius: 8px !important;
  border: 1px solid #dcdfe6;
  background-color: #fff;
}
.app-segment {
  height: 100%;
  .el-radio-button__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none !important;
    border-radius: 8px !important;
  }
  .svg-icon {
    transform: scale(calc(20 / 14));
  }
}
