@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../font/montserrat/Montserrat-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../font/montserrat/Montserrat-SemiBold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../font/montserrat/Montserrat-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Regular'), url('../font/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter Medium'), local('Inter-Medium'), url('../font/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}
