$primary: #fcbd01;
$success: #32b332;
$warning: #ffb73d;
$danger: #ff5263;
$info: #99a2ad;

$check-box-bg-active-color: '#F5F3FF';
$check-box-active-color: '#7C3AED';
$check-box-bg-color: rgba(0, 0, 0, 0.04);
$check-box-checked-color: #fff;
$check-box-checked-bg-color: #ab4bf5;
$check-box-checked-border-color: #ab4bf5;
$check-box-checked-box-shadow-color: #cd93f9;


$color-gray-50: #fafbfc;
$color-gray-100: #f3f4f6;
$color-gray-200: #e6e8ed;
$color-gray-300: #d3d8e0;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #333c4d;
$color-gray-800: #222b3b;
$color-gray-900: #111826;

$color-text-regular: $color-gray-700;
$background-color-base: $color-gray-100;

$border-radius-sm: 2px;
$border-radius: 4px;
$border-radius-md: 6px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;
$border-radius-2xl: 16px;
$border-radius-3xl: 24px;

$shadow-sm: 0 1px 2px rgba(#000, 0.05);
$shadow: 0 1px 2px rgba(#000, 0.06),
0 1px 3px rgba(#000, 0.09);
$shadow-md: 0 2px 4px -1px rgba(#000, 0.06),
0 4px 6px -1px rgba(#000, 0.09);
$shadow-lg: 0 4px 6px -2px rgba(#000, 0.05),
0 10px 15px -3px rgba(#000, 0.1);
$shadow-xl: 0 10px 10px -5px rgba(#000, 0.04),
0 20px 25px -5px rgba(#000, 0.1);
$shadow-2xl: 0 25px 50px -12px rgba(#000, 0.25);
$shadow-inner: inset 0 2px 4px rgba(#000, 0.06);
$shadow-none: none;

$breakpoints: ('sm': '640px',
  'md': '768px',
  'lg': '1024px',
  'xl': '1280px',
  '2xl': '1536px',
);

$themes: ('vitality-yellow': #fcbd01,
  'cobalt-blue': #2962ff,
  'chalcedony-green': #37b057,
  'amber': #ff9100,
  'indigo': #00a8f0,
  'slate-blue': #3781b8,
  'purple': #8B5CF6,
);