@import 'global';
@import 'tailwindcss/base';
@import 'root';
@import 'reboot';
@import 'font';
@import 'framework';
@import 'components';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';